@model NewFichesMetiers.Models.ecole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ecole</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nom)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editer", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
